target/*

overlay/*

overlays/*

**/target/*

**/overlay/*

**/overlays/*

.DS_Store

.DS_Store?

.sass-cache/

._*

.Spotlight-V100

.Trashes

ehthumbs.db

Thumbs.db

dspace/modules/additions/src/main/java/com/atmire/dspace/TestTransformatie.java

dspace/modules/jspui/bin/

dspace/modules/lni/bin/

dspace/modules/oai/bin/

dspace/modules/rest/bin/

dspace/modules/solr/bin/

dspace/modules/sword/bin/

dspace/modules/swordv2/bin/

dspace/modules/xmlui/bin/

